*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width:768px) {
    .topnav h2{
        position: relative;
        left: -40%;
        top:0;
        transform: translate(40%,0%);
        padding-left: 20px;
        text-align: left;
    } 
   
}
.topnav h2{
    color: 	#6C3365;
    font-family: 'Fira Sans', sans-serif;
    margin: 20px 25px 10px;
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
}
.topnav{
    margin: 10px auto 20px;
    text-align: center;
    background-color: snow;
    opacity: 0.8;
    width: 90%;
    max-width: 1100px;
    border-radius: 30px;
}
.nav_btn{
    font-size: 15px;
    color: 	#6C3365;
    font-family: 'Julius Sans One', sans-serif;
    padding: 0px 25px 5px;
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
}
.nav_btn:hover{
    border-bottom: 1px solid #6C3365;
}
.menu_icon{
    font-family: 'Amatic SC', sans-serif;
    font-size: 20px;
    width: 50px;
    float: right;
    margin: 20px 15px 10px;
    color: 	#6C3365;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
}
.title{
    font-family: 'Julius Sans One', sans-serif;
    color: 	#6C3365;
    cursor: pointer;
    font-size: 45px;
    text-align: center;
}
#works{
    padding-top: 100px;
}
.works_layout{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 0px auto ;
    width: 100%;
    max-width: 960px;
}
.works_content{
    display: inline-block;
    padding: 20px;
}
.works_content:hover{
    cursor: pointer;
}
.works_title{
    color: 	#6C3365;
    margin-top: 10px;
    background-color: transparent;
    font-family: 'Julius Sans One', sans-serif;
}
.works_description{
    background-color: transparent;
    color: 	#D2A2CC;
    visibility: hidden;
}
.works_content img{
    width: 100%;
    box-shadow: 10px 10px 5px gray;
}
.works_content img:hover {
    opacity: 0.3;
}
.works_content:hover .works_description {
    visibility: visible;
}
.bottom_layout{
    margin: 0px auto 0px;
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 40% 60%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
}
.bottom_message{
    background-color:snow;
    width: 100%;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    padding-top: 150px;
}
.email_content{
    padding: 20px ;
    width: 100%;
    text-align: center;
    background-color: 	#E2C2DE;
}
.email_content input:focus{
    outline: none;
    border: none;
    position: relative;
}
.email_content input{
    width: 95%;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: none;
    background-color: snow ;
}
.bottom_message h3{
    background-color: snow;
    color: #9F4D95;
}
.bottom_message p{
    background-color: snow;
    color: #D2A2CC;
    text-align: center;
}
#sendBtn{
    border: none;
    background-color: transparent;
    color: #9F4D95;
    padding: 10px 20px;
    margin: 20px auto 10px;
    width: 100%;
    font-family: 'Julius Sans One', sans-serif;
}
#sendBtn:hover{
    background-color:#9F4D95;
    color: snow;
}
#contact{
    padding-top: 50px;
    padding-bottom: 100px;
}

#footer{
    padding: 8px;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    color: #9F4D95;
    background-color: #faf0e4;
}
#show_menu_overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: 	#FAF4FF;
    z-index: 2;
}
.menu_overlay_layout{
    background-color: snow;
    margin: 120px auto 20px;
    color: #9F4D95;
    font-family: 'Julius Sans One', sans-serif;
    width: 100%;
    max-width: 450px;
    display: grid;
    grid-template-columns: 40% 60%;
    box-shadow: 10px 10px 5px gray;
}
.menu_btn{
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
}
.menu_btn:hover{
    padding-right: 10px;
    font-size: 20px;
}
.menu_title{
    background-color: #D2A2CC;
}
.title_content{
    transform: rotate(270deg);
    transform-origin: right bottom;
    font-size: 20px;
    background-color: transparent;
    color: snow;
}
#off_menu_overlay{
    padding-bottom: 50px;
}
#about{
    padding:100px 20px 50px;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.about_title{
    color: #6C3365;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    font-size: 35px;
}
.university_record{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0px auto ;
    padding: 20px 20px 100px;
    width: 100%;
    max-width: 900px;
}
.records_title{
    font-size: 22px;
    color: #6C3365;
}
.text_by_friends{
    box-shadow: 5px 5px 5px 2px gray; 
    background-color:#E2C2DE; 
    padding: 10px; 
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    margin: 20px auto;
}
.work_experience{
    background-color: #E2C2DE;
    border-bottom: 1px solid #6C3365;
    border-right: 1px solid #6C3365;
    padding: 20px;
}
.certificate{
    background-color: snow;
    border-bottom: 1px solid #6C3365;
    padding: 20px;
}
.certificate>ul{
    background-color:  snow;
}
.certificate li{
    background-color:  snow;
}
.certificate>div{
    background-color:  snow;
}
.awards_inside{
    background-color: snow;
    border-right: 1px solid #6C3365;
    padding: 20px;
}
.awards_inside>div{
    background-color:  snow;
}
.awards_outside{
    background-color: #E2C2DE;
    padding: 20px;
}
#introduce_myself{
    margin: 50px 0px;
}
#experience{
    padding-top: 100px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
#notes{
    padding-top: 100px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
#contact{
    padding-top: 100px;
}
#skill{
    padding-top: 100px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
#intro{
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    background-color: snow;
}
.col{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
    position: relative;
}
.circle{
    position: relative;
    width: 480px;
    height: 480px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    /* background-color: blanchedalmond; */
}
.circle_text span{
    position: absolute;
    left: 50%;
    font-size: 20px;
    transform-origin: 0px 240px;
}
.logo{
    position: absolute;
    width: 380px;
    height: 380px;
    background-image: url(image/me.jpg);
    background-size: cover;
    border-radius: 50%;
    text-align: center;
    margin: auto;
} 
.circle_text{
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rotateText 30s linear infinite;
    color: #6C3365;
    font-family: 'Julius Sans One', sans-serif;
}
@keyframes rotateText {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
#dot_1{
    width: 400px;
    height: 400px;
    background-color: #E2C2DE;
    border-radius: 400px 0 0 0 ;
    position: absolute;
    bottom: 0%;
    right: 0%;
    /* 右邊的圓形 */
}
#dot_2{
    width: 200px;
    height: 200px;
    background-color: blanchedalmond;
    border-radius: 0 0 200px 0 ;
    position: absolute;
    left: 0%;
    top: 0%;
    /* 左邊的圓形 */
}
#dot_3{
    width: 30px;
    height: 30px;
    background-color: blanchedalmond;
    border-radius: 50%;
    position: absolute;
    left: 70%;
    top: 10%;
    /* 右邊的圓形 */
}
#dot_4{
    width: 60px;
    height: 60px;
    background-color: #E2C2DE;
    border-radius: 50% ;
    position: absolute;
    left: 5%;
    top: 70%;
    /* 左邊的圓形 */
}
#dot_5{
    width: 40px;
    height: 40px;
    background-color: gainsboro;
    border-radius: 50% ;
    position: absolute;
    left: 10%;
    top: 20%;
    /* 左邊的圓形 */
}
#dot_6{
    width: 35px;
    height: 35px;
    background-color: #FFD2D2;
    border-radius: 50% ;
    position: absolute;
    left: 45%;
    top: 8%;
    /* 右邊的圓形 */
}
#dot_7{
    width: 25px;
    height: 25px;
    background-color: #FFD2D2;
    border-radius: 50%;
    position: absolute;
    left: 30%;
    top: 90%;
    /* 左邊的圓形 */
}
#dot_8{
    width: 50px;
    height: 50px;
    background-color:gainsboro;
    border-radius: 0 0 0 50px ;
    position: absolute;
    right: 0%;
    top: 0%;
    /* 右邊的圓形 */
}
#dot_9{
    width: 65px;
    height: 65px;
    background-color: 	#D2E9FF;
    border-radius: 50%;
    position: absolute;
    left: 24%;
    top: 48%;
    /* 左邊的圓形 */
}
#dot_10{
    width: 20px;
    height: 20px;
    background-color:	#D2E9FF;
    border-radius: 50% ;
    position: absolute;
    right: 30%;
    bottom: 10%;
    /* 右邊的圓形 */
}
#dot_11{
    width: 20px;
    height: 20px;
    background-color:		#D9B3B3;
    border-radius: 50% ;
    position: absolute;
    right: 60%;
    bottom: 17%;
    /* 右邊的圓形 */
}
#dot_12{
    width: 70px;
    height: 70px;
    background-color:		#D9B3B3;
    border-radius: 50% ;
    position: absolute;
    right: 25%;
    top:35%;
    /* 左邊的圓形 */
}